*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #001534;
    
}

header img{
    width: 30px;
    padding: 10px 0;
    margin-bottom: 5px;
}

header div{
    display: flex;
    color: white;
}

#startGame{
    padding: 0 10px;
}

#container{
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #7fffd4;
}

div.elements_semplice{
    width: calc(100% / 10);
}

div.elements_normale{
    width: calc(100% / 9);
}

div.elements_difficile{
    width: calc(100% / 7);
}

.my_flex{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.bgActive{
    background-color: rgb(55, 53, 223);
}